<header>
    <h1>Categories</h1>
</header>
<main>
    <% @group.each do |item|%>
        <div>
            <img src = <%= item.icon%> alt = 'icon'>
            <h2><%= item.name %></h2>
            <p><%= item.total %></p>
            <p><%= item.created_at%></p>
        </div>
    <%end%>
</main>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
