<nav class="navbar bg-primary text-center" data-bs-theme="dark">
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: 'navbar-nav fs-3 text-decoration-none' %>
    <h1 class= "navbar-nav mx-auto">New transaction</h1>
    <%= link_to ">", category_path(@group), :method => :delete, class: 'navbar-nav fs-1 text-decoration-none' %>
</nav>

<%= form_with(model: @entity, url: category_transactions_path(@group), class: "my-3") do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :amount, class: "form-label" %>
    <%= form.number_field :amount, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :group_id, class: "form-label" %>
    <%= form.collection_select :group_id, @groups, :id, :name, { class: "form-select" }, { value: @group.id } %>
  </div>

  <div class="d-grid gap-2">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>